annotated-types==0.7.0
bitarray==3.4.2
iniconfig==2.1.0
numpy==1.26.4
packaging==25.0
pandas==2.3.0
pluggy==1.6.0
Pygments==2.19.1
pytest==8.4.0
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tzdata==2025.2
